{% extends "admin/change_form.html" %}

{% block after_related_objects %}

{% with original.get_invoice_list as invoice_data %}
{% if invoice_data.invoices %}
<div class="inline-group">
    <h2>{{ invoice_data.title }}</h2>
<table style="width:100%">
    <thead><tr><th>Invoice</th>
               <th>Status</th>
               <th>Created</th>
               <th>Due</th>
               <th>Total</th>
               <th>Comment</th>
    </tr></thead>
    <tbody>
{% for invoice in invoice_data.invoices %}
<tr><td><a href="{{ invoice.url }}">Invoice #{{ invoice.number }}</a></td>
    <td>{{ invoice.status }}</td>
    <td>{{ invoice.date_created }}</td>
    <td>{{ invoice.date_due }}</td>
    <td>{{ invoice.grand_total }}</td>
    <td>{{ invoice.comment }}</td>
    </tr>
{% endfor %}
{% endif %}
{% endwith %}
    </tbody></table>
</div>
{% endblock %}
