/* These are for the totals boxes. Only the last <p> needs a right margin
   to clear the filter bar. The first line re-sets the margin to zero on all
   totals boxes, then second line sets the margin on the correct one. */
.change-list .filtered p.paginator { margin-right: 0px !important; }
#changelist-form p:first-of-type { margin-right: 160px !important; }

/* right border only on last total box (or paginator if no totals) */
.change-list .filtered p.paginator { border-right: 0px; }
#changelist-form p:first-of-type { border-right: 1px solid #DDDDDD; }

.total-box {
    border-left: 0px;
    float: right;
    font-size: 12px;
    height: 22px
}

.report-results p {
    color: #666666;
    padding: 0.7em 0.7em;
    font-size: 12px;
    border-bottom: 1px solid #EEEEEE;
    margin: 0px;
}

.report-results div {
    float: left;
    border-right: 1px solid #EEEEEE;
}

.report-results div:last-of-type { float: none; overflow: hidden; border-right: none; }

.report-results div p:last-of-type { margin-bottom: 0px; border: none; }

.bold { font-weight: bold; }
