{% extends "admin/index.html" %}

{% comment %}
some JS surgery to insert the reports "app" into the index and stop "sales"
from appearing under the accounts app. nasty, but other options seemed at least
as nasty (copy-pasting django's index.html)
{% endcomment %}

{% block extrahead %}
{{ block.super }}
{% include "mercury/_accounts_app_index.html" %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#content-main").append("{% filter escapejs %}{% include "admin/reports/_app.html" %}{% endfilter %}");
    });
</script>
{% endblock %}
