{% extends "admin/index.html" %}
{% load static %}

{% comment %}
some JS surgery to insert the reports "app" into the index and stop "sales"
from appearing under the accounts app. nasty, but other options seemed at least
as nasty (copy-pasting django's index.html)
{% endcomment %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "ajax_select/js/jquery-1.7.2.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("table[summary='Models available in the Accounts application.']").find("a:contains('Sales')").parentsUntil("tbody").last().remove();
        $("#content-main").append("{% filter escapejs %}{% include "admin/reports/_app.html" %}{% endfilter %}");
    });
</script>
{% endblock %}
