{% load i18n %}

<tr>
{% if model.admin_url %}
    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
{% else %}
    <th scope="row">{{ model.name }}</th>
{% endif %}

{% if model.add_url %}
    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
{% else %}
    <td>&nbsp;</td>
{% endif %}

{% if model.admin_url %}
    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
{% else %}
    <td>&nbsp;</td>
{% endif %}
</tr>
