{% if form %}
{{ form.media }}
<div class="form-row actions">
<form id="date_range_form" action="" method="get">
{% for name, value in other_params %}
    <input type="hidden" name="{{ name }}" value="{{ value }}" />
{% endfor %}
{{ form.non_field_errors }}
{% for field in form %}
    <div style="display: inline; margin-right: 1em">
        {{ field.errors }}
        {{ field.label_tag }}: {{ field }}
    </div>
{% endfor %}
<button class="button" type="submit" />Go</button>
<span style="margin-left: 1em">Shortcuts:
<a href="javascript: void(0)" id="last_month_shortcut">Last month</a> |
<a href="javascript: void(0)" id="last_quarter_shortcut">Last quarter</a> |
<a href="javascript: void(0)" id="last_year_shortcut">Last year</a>
</span>
</form>
</div>
{% comment %}
The admin doesn't like empty params for valid lookups and throws everything away,
so the JS below prevents GET params from being added to the URL if an input
field is empty. Blanking the name works better than .remove() because in the
latter case you see the input disappear as you hit the submit button.
{% endcomment %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("#date_range_form").submit(function(){
            var $t = $(this);
            $t.find("input").each(function(){
                    var $t = $(this);
                    if ($t.val() == "") {
                        $t.attr("name", "");
                    }
                });
            });
        $("#last_month_shortcut").click(function(){
            $("#{{ start_field }}").val("{{ last_month_start|date:"Y-m-d" }}");
            $("#{{ end_field }}").val("{{ last_month_end|date:"Y-m-d" }}");
            $("#date_range_form").submit();
            });
        $("#last_quarter_shortcut").click(function(){
            $("#{{ start_field }}").val("{{ last_quarter_start|date:"Y-m-d" }}");
            $("#{{ end_field }}").val("{{ last_quarter_end|date:"Y-m-d" }}");
            $("#date_range_form").submit();
            });
        $("#last_year_shortcut").click(function(){
            $("#{{ start_field }}").val("{{ last_year_start|date:"Y-m-d" }}");
            $("#{{ end_field }}").val("{{ last_year_end|date:"Y-m-d" }}");
            $("#date_range_form").submit();
            });
    });
})(django.jQuery);
</script>
{% endif %}
