{% load i18n %}
<input type="text" name="{{name}}" id="{{html_id}}" value="{{ current_result }}" {{ extra_attrs }} />
<div id="{{ html_id }}_clear"></div>
{% if add_link %}
	<a href="{{ add_link }}" class="add-another" id="add_{{ html_id }}" onclick="return showAddAnotherPopup(this);"> <img src="{{ admin_media_prefix }}img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
{% endif %}
{% block help %}{# {% if help_text %}<p class="help">{{help_text}}</p>{% endif %} #}{% endblock %}
<input type="hidden" name="{{name}}" id="{{html_id}}_hidden" value="{{current_id}}" />
<script type="text/javascript">
jQuery(document).ready(function($){{% block script %}
	$("#{{html_id}}").autocomplete('{{lookup_url}}', {
		width: 320,
		formatItem: function(row) { return row[2]; },
		formatResult: function(row) { return row[1]; },
		mustMatch: "true"{% if autofill %},
		extraParams: {"extra":"{{ autofill.related_field }}"}
		{% endif %}
	});
	function receiveResult(event, data) {
		prev = $("#{{html_id}}").val();
		if(prev) {
			kill_{{ func_slug }}(prev);
		}
		$("#{{html_id}}_hidden").val(data[0]);
		$("#{{html_id}}").val(data[1]);
		{% if autofill %}
		replace = "{{ html_id }}";
		replace = replace.split("-");
		replace = replace.slice(0,-1);
		replace.push("{{ autofill.field }}");
		replace = replace.join("-");
		$("#"+replace).val(data[3]);
		{% endif %}
	}
	$("#{{html_id}}").result(receiveResult);
	function kill_{{func_slug}}() {
		$("#{{html_id}}").val("");
		$("#{{html_id}}_hidden").val("");
	}
	if($("#{{ html_id }}_hidden").val()) { // add X for initial value if any

	}
	$("#{{ html_id }}_hidden").bind('didAddPopup',function(event,id,repr) {
		data = Array();
		data[0] = id;
		data[1] = repr;
		receiveResult(null,data);
	});
{% block extra_script %}{% endblock %}
{% endblock %}});
</script>
