{% load i18n %}
<input class="ajax-input" type="text" {{ attrs }} value="{{ current_result }}" />
<a id="{{ html_id }}_clear" href="javascript:void(0)" class="ajax-clearfield"><img src="{{ media_url }}img/delete.png"></a>
{% if add_link %}
    <a href="{{ add_link }}" class="add-another" id="add_{{ html_id }}" onclick="return showAddAnotherPopup(this);"> <img src="{{ admin_media_prefix }}img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
{% endif %}
<input type="hidden" name="{{ name }}" id="{{ html_id }}_hidden" value="{{ current_id }}" />
<input type="hidden" name="{{ name }}_val" id="{{ html_id }}_val" value="{{ current_result }}" />
<script type="text/javascript">
// keep a record of the autocomplete options used for each field. we might be
// creating an invisible "template" widget that is cloned when adding new inlines
// dynamically (by clicking on the "add another" button). in this case, the newly
// created widget needs to have .autocomplete() called on it. the code that looks
// up the options and activates autocomplete on the new widget is in
// templates/admin/edit_inline/tabular.html
// global vars AUTOCOMPLETE_OPTIONS and AUTOGROW_OPTIONS declared in
// ajax_select/static/ajax_select/js/{ajax_select.js, autogrow.js}

AUTOCOMPLETE_OPTIONS["{{ html_id }}"] = {
    source: "{{ lookup_url }}",
    select: handleResult,
    change: handleChange
};
$("#{{ html_id }}").autocomplete(AUTOCOMPLETE_OPTIONS["{{ html_id }}"]).autoGrowInput(AUTOGROW_OPTIONS);
</script>
